<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LearnerzadminConnectionString" connectionString="Data Source=timir;Initial Catalog=Learnerzadmin;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="LearnerzadminConnectionString2" connectionString="Data Source=timir;Initial Catalog=Learnerzadmin;User ID=sa;Password=sqlserver"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="250" maxRequestLength="104857990" enable="true" />
    <!--<authentication mode="Forms">
      <forms defaultUrl="~/Home.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>-->
  </system.web>
</configuration>